h1{color: yellow;
	text-transform: uppercase;
}
a{
	color:yellow;
		text-transform: uppercase;
font-family:arial, verdana, sans-serif;'
	font-size: 20px;
	margin: 10px;
	padding: 5px;;
}
body{
background-color: green;}
.message{
	display: inline-block;
	font-size: 20px;
	padding: 1px;
	margin: 10px;
	background: red;
	border-radius: 20px;
}
.error {
	color: #ff0000;
	font-size: 13px;
}

.errorblock {
	color: #000;
	background-color: #ffeeee;
	/* 	border: 3px solid #ff0000; */
	padding: 0px;
	margin: 16px;
	width: 300px;
}
input[type=button]{
	font-size: 16px;
	margin-left: 50px;
	margin-right: 40px;
	width: 100px;
	padding: 5px;
	height: 40px;
}
button{
	font-size: 18px;
	margin-top: 30px;
	width: 150px;
	padding: 0px;
	height: 40px;
}
form {
   display: inline-block;
   	background: yellow;
	margin: 30px;
/* 	margin-left: 33%; */
	border: 20px;
	padding: 40px;
	border-radius: 40px;}

input {
	font-size: 20px;
	width: 300px;
	padding: 5px;
/* 	height: 25px; */
}

input[type=submit] {
	font-size: 20px;
	width: 100px;
	padding: 5px;
	height: 2em;
}